<?xml version="1.0"?>
<!--
* Copyright © Mathematica Policy Research, Inc. 
* This code cannot be copied, distributed or used without the express written permission
* of Mathematica Policy Research, Inc. 
-->
<configuration>
  <connectionStrings>
	  <!-- Use different connections strings for Development, Staging, and Production-->
	  <add name="MPR.SMS" connectionString="server=AWSSQLDEVM.mathematica.net;database=51274_PPC_SMS;Trusted_Connection=true;MultiSubnetFailover=true" />
   	
	  <!-- Use this reference for all environments - Development, Staging, and Production-->
	  <add name="MPR.SMS.Security" connectionString="Data Source=AWSSQLPRODM.mathematica.net;Initial Catalog=SMSDeployment;Trusted_Connection=true;MultiSubnetFailover=true" />
  </connectionStrings>

  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  
  <appSettings>
	  <!-- Development-->
	  <add key="MPR.SMS.DocumentProcessing.Web" value="https://sms-launch.mathematica-dev.net/docprocessing"/>
	  <!--Staging below-->
	  <!--<add key="MPR.SMS.DocumentProcessing.Web" value="https://sms-launch.mathematica-stg.net/docprocessing"/>-->
	  <!--Production below-->
	  <!--<add key="MPR.SMS.DocumentProcessing.Web" value="https://sms-launch.mathematica.net/docprocessing"/>-->
  
	<!-- Note that the ProjectShortName is used not just for display purposes, -->
    <!-- but it also could affect some project-specific behavior when the code-base is shared with other projects. -->
    <!-- It is also passed to MPR.SMS.DocumentProcessing, which uses the -->
    <!-- project name to get connection information. -->
    <!-- The long name is only used for displaying. -->
  
    <add key="ProjectShortName" value="PPCDev" />
    <add key="ProjectName" value="Understanding the Relationship Between Poverty, Well-Being, and Food Security Status" />

    <!-- Set this to 1 if Round should be shown in DataGridViews (recommended value=0) -->
    <add key="ShowRound" value="0" />
    <!-- Set this to 1 to Allow Shared Addresses/Phones/Emails (recommended value=1) -->
    <add key="AllowShared" value="1" />
    <!-- Set this to 1 to automatically lock a locating case as soon as it is selected. -->
    <!-- Set to 0 to only lock it once a locating attempt is made.(recommended value=1) -->
    <add key="LockLocatingCasesUponSelection" value="1" />
    <!-- Duplicates & Error Checking:          -->
    <!-- 0=No checking (recommended default)   -->
    <!-- 1=Check Primary Sample Member(s) only -->
    <!-- 2=Check all Case Members              -->
    <add key="DuplicatesChecking" value="0" />
    <add key="ErrorChecking" value="0" />
    <!-- For education projects, settings for Classroom-to-Teacher relationships: -->
    <!-- 0=No; 1=Yes (recommended default) -->
    <add key="AllowManyClassroomsPerTeacher" value="1" />
    <add key="AllowManyTeachersPerClassroom" value="1" />
    <!-- SMS To Blaise Real Time Process: BT: Added on 05/03/2013.-->
    <add key="BlaiseRealTimeProcess" value="0" />
    <!-- 0 = Not to implement SMS to Blaise Real Time Process  -->
    <!-- 1 = Implement SMS to Blaise Real Time Process         -->
    <add key="BlaiseInstrumentTypeID" value="9" />
    <!-- value = Enter the instrument type id to update Blaise Instrument in real time from SMS  -->
    <add key="BlaiseDatabase" value="\\M221\DEVELOPMENT\SISCAI\Projects\Basicblaisell\Basicblaisell.bdb" />
    <!-- value = Enter Full Blaise path of the instrument type id define here to update Blaise Instrument in real time from SMS  -->
    <!-- END: SMS To Blaise Real Time Process: BT: Added on 05/03/2013.-->
    <!-- the settings below are now maintained in tlkpSettings -->
    <!-- <add key="ProjectCode" value="9999" /> -->
    <!-- <add key="RPSTaskCode" value="999" />  -->
    <!-- <add key="CurrentRound" value="1" />   -->
    <!-- This setting controls whether addresses will be geocoded   -->
    <!-- 1 = Yes   -->
    <!-- 0 = No-->
    <add key="GeoCode" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpsBinding>
        <binding name="DataTransferSoap" maxReceivedMessageSize="10485760" />
        <binding name="LogOnSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SurveyDataSoap" />
      </basicHttpsBinding>
    </bindings>
    <!--DEVELOPMENT-->
    <!--https://author.nordic.confirmit.com/confirmit/webservices/current/logon.asmx-->
    <!--PRODUCTION-->
    <!--https://ws.euro.confirmit.com/confirmit/webservices/current/logon.asmx-->
    <client>
      <endpoint address="https://mathematicasurvey.org/confirmit/webservices/current/DataTransfer.asmx"
                binding="basicHttpsBinding" bindingConfiguration="DataTransferSoap"
                contract="DataTransferService.DataTransferSoap" name="DataTransferSoap" />
      <endpoint address="https://mathematicasurvey.org/confirmit/webservices/current/logon.asmx"
                binding="basicHttpsBinding" bindingConfiguration="LogOnSoap"
                contract="LogOnSrvc.LogOnSoap" name="LogOnSoap" />
      <endpoint address="https://mathematicasurvey.org/confirmit/webservices/current/surveydata.asmx"
                binding="basicHttpsBinding" bindingConfiguration="SurveyDataSoap"
                contract="SurveyDataSrvc.SurveyDataSoap" name="SurveyDataSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>