<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataTransferSoap" />
        <binding name="LogOnSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SurveyDataSoap" />
      </basicHttpBinding>
    </bindings>

    <!--DEVELOPMENT-->
    <!--https://author.nordic.confirmit.com/confirmit/webservices/current/logon.asmx-->

    <!--PRODUCTION-->
    <!--https://ws.euro.confirmit.com/confirmit/webservices/current/logon.asmx-->

    <client>
      <endpoint address="http://nj3citauth1.mathematica.net/confirmit/webservices/current/DataTransfer.asmx"
                binding="basicHttpBinding" bindingConfiguration="DataTransferSoap"
                contract="DataTransferService.DataTransferSoap" name="DataTransferSoap" />
      <endpoint address="https://nj3citauth1.mathematica.net/confirmit/webservices/current/logon.asmx"
                binding="basicHttpBinding" bindingConfiguration="LogOnSoap"
                contract="LogOnSrvc.LogOnSoap" name="LogOnSoap" />
      <endpoint address="http://nj3citauth1.mathematica.net/confirmit/webservices/current/surveydata.asmx"
                binding="basicHttpBinding" bindingConfiguration="SurveyDataSoap"
                contract="SurveyDataSrvc.SurveyDataSoap" name="SurveyDataSoap" />
    </client>
  </system.serviceModel>
</configuration>